* {
    border:         none;
    border-radius:  0;
    font-family:    Symbols Nerd Font, Inconsolata for Powerline;
    font-size:      14px;
    box-shadow:     none;
    text-shadow:    none;
    min-height:     0;
}

window {
    background: rgba( 0, 0, 0, 0.00 );
}

#workspaces button {
    padding:    0 8px;
    color:      #D3D3D3;
}

#workspaces button:hover {
    color:      #AFAFAF;
    background: rgba( 0, 0, 0, 0.00 );
}

#workspaces button.focused {
    color: #FFFFFF;
}

#workspaces button.urgent {
    color: #57758E;
}

#clock,
#battery,
#network,
#pulseaudio,
#idle_inhibitor,
#custom-media {
    min-width:  25px;
    margin:     0px 6px 0px 6px;
    color:      #191919;
}

#clock {
    margin:     0px 8px 0px 0px;
    min-width:  140px;
}

